.App {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.container{
  margin-left: 80px;
  margin-top: 80px;
  border: 0.5px solid blue;
  padding: 40px 40px 10px 40px;
  background-color: white;
  width: 1000px;
}

